* {
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

/* ヘッダー */

.header {
  background-color: #f1f8fe;
  margin-bottom: 48px;
  padding: 20px 0;

}
.inner {
  width: 1024px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 200px;
}
.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: #fff;
  background: #87CEFA;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
}

/* ここまで */

.top-icon {
  width: 180px;
  margin-right: 10vw;
  height: 35px;
  background-color: #3ccace;
  text-align: center;


}

.top-title{
  line-height: 35px;
  color          : #ffffff;
  font-size      : 20px;
  letter-spacing : 4px;
  text-shadow    : 
         2px  2px 1px #006600,
        -2px  2px 1px #006600,
         2px -2px 1px #006600,
        -2px -2px 1px #006600,
         2px  0px 1px #006600,
         0px  2px 1px #006600,
        -2px  0px 1px #006600,
         0px -2px 1px #006600;        /* 文字の影 */
}