<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">料理データ編集</h2>
         <%= render partial:"/shared/new_form", locals:{food: @food}%>
      <div class="field"><%= link_to "料理一覧に戻る","/foods" %></div>
      <div class="field"><%= link_to "料理詳細に戻る","/foods/#{@food.id}" %></div>
    </div>
  </div>
</div>